/* universal star operator */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

/* css root variables */
:root {
	--messenger-blue: #0084FF;
    --soft-white: #f1f1f1;
    --dark: #131418;
    --main-dark: #000;
}

/* Html and Body Tag */
html {  font-size: 62.5%; }

body {
    background: var(--main-dark);
}

/* Header Section */
.header {
	display: flex;
	padding: 1rem;
	align-items: center;
}

.header .icon {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	background: var(--soft-white);
	border: 0.3rem solid var(--soft-white);
	border-radius: 50%;
}

.header .title {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 1rem;
	color: var(--soft-white);
}

.header .icon-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}

.header .icon-box-icon {
	font-size: 2.2rem;
	margin: 0.5rem;
	color: var(--soft-white);
}

/* hr line */
.line {
	background: var(--soft-white);
}

/* Data Container */
.data-container {
	width: 100vw;
	height: calc(100vh - 15rem);
	padding: 0.5rem;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: auto;
}

.data-container .msg {
	width: auto;
	max-width: 15rem;
	font-size: 1.2rem;
	color: var(--soft-white);
	border: 0.1rem solid white;
	border-radius: 5rem;
	margin: 0.7rem;
	padding: 0.7rem 1rem;
}

.data-container .middle-msg {
	margin: 0.5rem auto;
}

.data-container .right-msg {
	margin-right: auto;
	clear: both;
}

.data-container .left-msg {
	margin-left: auto;
	clear: both;
	background: var(--messenger-blue);
	border: none;
}

/* Form Area */
.form {
	width: 100vw;
	height: 10rem;
	display: flex;
	justify-content: space-around;
}

.form .text-area {
	width: 78%;
	height: 4rem;
	border: none;
	border-radius: 1rem;
	padding: 1rem;
	font-size: 1.2rem;
	border: none;
}
.form .text-area:focus {
	outline: 0;
}

.form .button {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	border: none;
	border-radius: 50%;
	background: var(--main-dark);
	color: var(--soft-white);
}
.form .button:focus {
	outline: 0;
}