/* universal star operator */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css root variables */
:root {
	--messenger-blue: #0084FF;
    --soft-white: #f1f1f1;
    --main-dark: #131418;
}

/* Html and Body Tag */
html {  font-size: 62.5%; }

body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-dark);
}

/* Header Section */
.header {
	display: flex;
	padding: 1rem;
	align-items: center;
}

.header .icon {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
	border: 0.4rem solid var(--messenger-blue);
	border-radius: 50%;
}

.header .title {
	font-size: 1.7rem;
	font-weight: bold;
	margin: 1rem;
	color: var(--soft-white);
}

.header .icon-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}

.header .icon-box-icon {
	font-size: 2.5rem;
	margin: 0.5rem;
	color: var(--messenger-blue);
}